<%= pagination private_messages %>

<h1><%= title %><a name="<%= dom_id private_messages.first %>" id="<%= dom_id private_messages.first %>">&nbsp;</a></h1>

<table border="0" cellspacing="0" cellpadding="0" class="private_messages posts wide">
<% for message in private_messages do %>
<% unless message == private_messages.first %>
<tr class="spacer">
  <td colspan="2">
    <a name="<%= dom_id message %>" id="<%= dom_id message %>">&nbsp;</a>
  </td>
</tr>
<% end %>
<tr class="post hentry" id="<%= dom_id message %>-row">
  <td class="author vcard">
    <div class="date">
      <a href="#<%= dom_id message %>" rel="bookmark">
      <abbr class="updated" title="<%= message.created_at.xmlschema %>">
      <%= time_ago_in_words(message.created_at) %>
      </abbr>
      </a>
    </div>

    <%= avatar_for(message.sender) unless message.sender == current_user %>
    From: <span class="fn"><%= link_to truncate(h(message.sender.display_name), 15), user_path(message.sender), :class => (message.sender == target_user ? "threadauthor" : nil) %></span>
    <% if message.sender.admin? %>
    <span class="admin">
      <%= 'Administator'[:administrator_title] %>
    </span>
    <% end %>

    <div class="recipient">
      <%= avatar_for(message.recipient) unless message.recipient == current_user %>
      To: <%= link_to truncate(h(message.recipient.display_name), 15), user_path(message.recipient), :class => (message.recipient == target_user ? "threadauthor" : nil) %>
      <% if message.recipient.admin? %>
        <span class="admin">
          <%= 'Administator'[:administrator_title] %>
        </span>
      <% end %>
    </div>

  </td>
  <td class="body entry-content" id="post-body-<%= message.id %>">
  	<h2><%= message.title %></h2>
<!--
    <%= link_to_function image_tag('clearbits/comment.gif', :class => 'icon reply'), "$('reply').toggle()" if logged_in? %>
-->
    <%= message.body_html %>
	
    <p>
	  <% if current_user.id == message.recipient.id -%>
	  <%= link_to_function 'Reply'[], "PrivateMessageForm.show(#{message.sender.id}, '#{escape_javascript(message.title)}')", :class => "utility" %> &mdash;
      <% end -%>
      
      <%= link_to 'Delete'[], private_message_path(message), :class => "utility", :method => :delete,
               :confirm => 'Delete this message forever?'[:delete_private_message_conf] %>
    </p>
  </td>
</tr>

<% end %>
</table>
       
<%= next_page private_messages %>
<%= pagination private_messages %>